#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #D8E8ED;
}

.navbar {
  background-color: #9587AD ;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__icons__logo,
.navbar__icons__login,
.navbar__icons__logout,
.navbar__icons__book-camp{
  height: 30px; 
  margin-right: 10px;
  cursor: pointer;
}
